.controls {
    outline: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0.5rem;
}

.selectPokemonGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.selectButton {
    flex: 1 1 calc(50% - 1em);
}

.refreshButton {
    margin-top: 1rem;
    width: 100%;
    background-color: rgb(19, 58, 19);
}

.battleControls {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.battleButton {
    flex: 1 1 calc(50% - 1rem);
}