.gameWindow {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: black;
    margin-bottom: 1rem;
    outline: 0.5rem solid black;
}

.pokemonRows {
    background-color: rgb(234, 230, 207);
    border-radius: 5px;
    outline: 6px solid black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.pokemonRow {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    min-height: 96px;
    width: 100%;
    flex-grow: 1;
}

.message {
    color: black;
    font-family: monospace;
    font-size: 1.125rem;
    height: 48px;
    background-color: white;
    border-radius: 5px;
}

.activeCharacter {
    animation: bounce 250ms ease infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(5%);
    }
    to {
        transform: translateY(-5%);
    }
}