.stats {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-basis: 50%;
    align-self: center;
}

.healthbarContainer {
    position: relative;
    width: 100%;
    height: 10px;
    outline: 2px solid black;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.healthbar {
    transition: width 500ms ease;
    top: 0;
    left: 0;
    height: 10px;
    border-radius: 10px;
}

.highHealth {
    background-color: green;
}

.midHealth {
    background-color: goldenrod;
}

.lowHealth {
    background-color: red;
}

.name {
    text-transform: capitalize;
    color: black;
    margin: 0 0 0.5rem 0;
}