.stats {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.healthbarContainer {
    position: relative;
    width: 200px;
    height: 10px;
    outline: 2px solid black;
    border-radius: 10px;
}

.healthbar {
    transition: width 500ms ease;
    top: 0;
    left: 0;
    height: 10px;
    border-radius: 10px;
}

.highHealth {
    background-color: green;
}

.midHealth {
    background-color: goldenrod;
}

.lowHealth {
    background-color: red;
}

.name {
    text-transform: capitalize;
    color: black;
}