main {
  min-width: 50vw;
}

.gameWindow {
  outline: 3px solid green;
  outline-offset: 5px;
  min-height: 200px;
  background: rgb(234, 230, 207);
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.opponent {
  outline: 3px solid red;
  min-height: 200px;
}

.controls {
  outline: 3px solid purple;
  min-height: 200px;
}