main {
  width: clamp(200px, 100%, 75vw);
  background-color: rgb(17, 133, 79);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: inset -2px 2px 6px rgba(255, 255, 255, 0.5), inset 5px -5px 5px rgba(0, 0, 0, 0.5);
}